<div>
	<h1>オーダー</h1>
</div>
<hr>
<ul class="navbar-nav">
  <div>
    <a [routerLink]="['orderList']"> <i
        class="menu-icon fas fa-th-list"></i>オーダー一覧</a>
  </div>
  <div>
    <a [routerLink]="['orderListOuter']"> <i
        class="menu-icon fas fa-th-list"></i>オーダー一覧(包含子路由)</a>
  </div>
  <div>
    <a [routerLink]="['others']"> <i
        class="menu-icon fas fa-th-list"></i>其他测试</a>
  </div>
  <div>
    <a [routerLink]="['angular-slickgrid']"> <i
        class="menu-icon fas fa-edit"></i>angular-slickgrid</a>
  </div>
  <div>
    <a [routerLink]="['pdfViewer']"> <i
        class="menu-icon fas fa-edit"></i>pdf-viewer</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-cash-register"></i>会計一覧</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-warehouse"></i>在庫確認</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-lock"></i>パスワード管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-th-list"></i>オーダー一覧</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-cash-register"></i>会計一覧</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-lock"></i>パスワード管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fab fa-cotton-bureau"></i>生地管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-tags"></i>生地ブランド管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-warehouse"></i>在庫管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-calendar-day"></i>千葉到着日管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-calendar-alt"></i>納期管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-dollar-sign"></i>下代価格管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-store"></i>店舗管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-industry"></i>工場管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-building"></i>メーカー管理</a>
  </div>
  <div>
    <a href="#"> <i
        class="menu-icon fas fa-user"></i>ログインユーザ管理</a>
  </div>


</ul>