/* @import '../../assets/js/jquery.min.js';
@import '../../assets/js/angular.min.js';
@import '../../assets/css/wui.min.css';
@import '../../assets/js/wui-date.js'; */

.wrap {
    position: relative;
  }
  .left {
    width: 50%;
    top: 0;
    left: 20px;
  }
  .right {
    position: absolute;
    top: -33%;
    left: 50%;

  }
  